<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffdf00">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/login.css">
    <link rel="shortcut icon" href="/Public/images/List.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>DSA Track</title>
</head>

<body>
    <div class="container flex" style="flex-direction: column;">
        <a href="/auth/google">
            <div class="login-button">
                <img src="/Public/images/google-icon.png" alt="google-icon">
                <span>Login with Google</span>
            </div>
        </a>
        <div class="note"
            style="max-width: 500px; font-style: italic; color: rgb(170, 170, 170); margin-top: 2rem; text-align: center;">
            <span>
                This app is availabe to only limited users. To access the app,
                please contact
                <a href="mailto:patidarpriyansh936@gmail.com">
                    patidarpriyansh936@gmail.com
                </a>
                or dm <a href="https://twitter/priyanshh32" target="_blank" rel="noopener noreferrer">@priyanshh32</a>
                on twitter.
            </span>
        </div>

    </div>
</body>

</html>