*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
 Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #16171b;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}

.container {
  width: 92%;
  max-width: 1500px;
}

#roadmapers {
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

#roadmapers a {
  text-decoration: none;
  color: aliceblue;
  margin: 0.5rem;
}

.person {
  justify-content: space-between;
  align-items: center;
  width: 256px;
  height: 120px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  padding: 1rem;
}

.person-count{
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
}

#d-form {
  display: block;
}

.add-q {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
form {
  flex-wrap: wrap;
}

input, select, #submit {
  margin: 1rem;
  font-size: 1.25rem;
  height: 3rem;
  padding: 0.25rem;
}

.filters input, .filters select{
  margin: 1rem;
  font-size: 1rem;
  height: 2rem;
  padding: 0.25rem;
}

.filters .btn {
  margin: 0.5rem;
}

#submit {
  width: 7rem;
}

.Easy {
  background-color: #c8e6c9;
}

.Medium {
  background-color: #ffe0b2;
}

.Hard {
  background-color: #ef9a9a;
}