*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
 Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #16171b;
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}

.container {
  width: 92%;
  max-width: 1500px;
}

.roadmapers {
  margin-top: 1rem;
}

.person {
  justify-content: space-between;
  align-items: center;
  width: 256px;
  height: 64px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  background: white;
  margin: 1rem;
  padding: 1rem;
}
.person-count{
  font-size: 2rem;
}

#d-form {
  display: block;
}
form {
  justify-content: center;
}

input, select {
  margin: 1rem;
  font-size: 1.25rem;
  height: 3rem;
  padding: 0.25rem;
}

input[type=submit] {
  padding-left: 1rem;
  padding-right: 1rem;
  background: #fff;
  color: black;
  font-weight:bold;
}